  
.gallery{

}
.img-container{
   width:19.65%;
   display: inline-block;
}
.gallery .img-thumbnail{
  width:100%;
  cursor: pointer;
  display: block;
  border-bottom: none;
  border-radius: 1px;
  height: 120px;
  object-fit: cover;


}
.gallery .img-title{
  display: block;
  background-color: #fff;
  height: 30px;
  max-height: 30px;
  overflow: hidden;
  font-size: 11px;
  display: inline-block;
  width: 100%;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;


}
.modal-header {
    padding:5px 10px;
    border-bottom:1px solid #eee;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }


.clear-fix {
  clear: both;
}

/* Not so important */
.images-viewer{
  vertical-align: top;
  text-align: top;
  background: white;

}
.images {
  background: white;
}
.images-information{

  margin: auto;
  padding:0 16px;
}

.images-information .title{
font-weight: bold;
font-size: 20px;
}
.images .image {
  width: 100%;
  height: 400px;
  margin: 0 20px 20px 0;
  float: left;
  box-shadow: 0 0 1px black;
  /** Interesting part starts here */
  font-size: 0;
  text-align: center;
  background-color: #778fb7;
}
.images .image img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}
.images .image:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

@media only screen and (max-width: 720px) {
 
.img-container{
   width:50%;
   display: inline-block;
}
.gallery .img-thumbnail{
  height: auto;
}

}
